.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  .main_panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    .title {
      font-family: Fira Code;
      font-size: 80px;
      line-height: 175%;
    }
    .subtitle {
      font-family: Fira Code;
      font-size: 34px;
      line-height: 175%;
    }
  }

  .footer {
    position: absolute;
    z-index: 1;
    bottom: 50px;
    width: 91vw;
    padding-top: 8px;
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3.5%;
    margin: -3% 4.2%;
    font-family: Fira Code;
  }

  .center {
    position: absolute;
    left: calc((100% - 57.6px) / 2);
  }
}

@media screen and (max-width: 730px) {
  .root {
    .main_panel {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1;
      .title {
        font-family: Fira Code;
        font-size: 10.95vw;
        line-height: 175%;
      }
      .subtitle {
        font-family: Fira Code;
        font-size: 4.65vw;
        line-height: 175%;
      }
    }
    .footer {
      position: absolute;
      z-index: 1;
      bottom: 50px;
      width: 91vw;
      padding-top: 8px;
      border-top: 1px solid black;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 3.5%;
      margin: -3% 4.2%;
      font-family: Fira Code;
    }

    .center {
      position: absolute;
      left: calc((100% - 57.6px) / 2);
    }
  }
}
 
@media screen and (max-width: 532px) {
  .root {
    .footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: Fira Code;
      .center {
        position: relative;
        left: auto;
      }
    }
  }
  
}
